<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686900365153-42p9bnd5joqk5rt41fqjthe1u89mqlp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686900365153-42p9bnd5joqk5rt41fqjthe1u89mqlp1</string>
	<key>API_KEY</key>
	<string>AIzaSyBPsWSgzO9btZN_0yG3S71prFtUFFcfX0U</string>
	<key>GCM_SENDER_ID</key>
	<string>686900365153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LoginTask.LoginTask</string>
	<key>PROJECT_ID</key>
	<string>maauka</string>
	<key>STORAGE_BUCKET</key>
	<string>maauka.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686900365153:ios:cbd3435dd188b81ec5a720</string>
	<key>DATABASE_URL</key>
	<string>https://maauka.firebaseio.com</string>
</dict>
</plist>